<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tvbase.webview" android:versionCode="1" android:versionName="0.1-experimental">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
  <overlay android:targetPackage="android" android:isStatic="true" android:priority="999"/>
  <application android:hasCode="false" android:label="Proveedor WebView TV"/>
</manifest>
