<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tvbase.bluetoothcontrol" android:versionCode="1" android:versionName="0.1">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <application android:label="Control Bluetooth TV Base" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false">
    <activity android:name=".ControlActivity" android:exported="true" android:launchMode="singleTop" android:screenOrientation="landscape">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
