<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tvbase.inicio" android:versionCode="2" android:versionName="0.2.0">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <application android:label="Inicio TV" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
    <activity android:name=".Inicio" android:exported="true" android:screenOrientation="landscape" android:launchMode="singleTask">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.HOME"/><category android:name="android.intent.category.DEFAULT"/></intent-filter>
    </activity>
  </application>
</manifest>
