<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tvbase.gestion" android:versionCode="1" android:versionName="0.1-experimental">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="false" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application android:label="Actualizaciones TV Base" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="false">
    <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
    </activity>
    <service android:name=".UpdateJob" android:exported="true" android:permission="android.permission.BIND_JOB_SERVICE" />
    <receiver android:name=".InstallReceiver" android:exported="false" />
    <receiver android:name=".BootReceiver" android:exported="false">
      <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/><action android:name="android.intent.action.MY_PACKAGE_REPLACED"/></intent-filter>
    </receiver>
  </application>
</manifest>
