<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tvbase.acceso" android:versionCode="9" android:versionName="0.9">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <application android:label="Acceso USB" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="true">
    <activity android:name=".Acceso" android:exported="true" android:screenOrientation="landscape">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
