<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tvbase.defaults" android:versionCode="1" android:versionName="0.2.0">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
  <overlay android:targetPackage="com.android.providers.settings" android:isStatic="true" android:priority="999" />
  <application android:hasCode="false" android:label="Configuración inicial TV Base" />
</manifest>
